$main_color: #d57d29;
$hover_color: #dd8f45;
$sub_color: #ef902f;
$black_color: #000000;

$blue_color: #232c55;

$gray_bg_color: #f2f0f3;
$gray_border_color: #b4c5c5;

$main_transition: all 0.5s ease;

$main_fonts: "Montserrat", sans-serif;
$head_fonts: "Montserrat", sans-serif;

$border_rad: 10px;
$border_rad_big: 30px;

$section_space: 50px;
$conteiner_max_w: 1440px;

$box_shadow:
    0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
$box_padding: 1.25rem;
$box_border_rad: 6px;
